<h1>My tasks ✍</h1>
<% @tasks.each do |task| %>
  <p><%= task.completed ? "☑" : "☐" %> - <%= link_to task.title, task_path(task) %> - <%= task.details %> <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>

<% end  %>

<%= link_to "Add a new task", new_task_path %>

